* {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./image/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg);
	background-size:contain;	
	position: relative;	
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0.5rem;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 8%;
    background: transparent;
    transition: all ease 0.45s;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logo {
    margin-top: -1rem;
    color: #fff;
    font-size: 41px;
    font-weight: 600;
}

.navbar {
    display: flex;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 999;
    left: 60rem;
    top: 1rem;
    padding: 1rem 0;
    transition: all 0.3s ease-in-out;
}

.navbar a {
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    margin: 0 25px;
    transition: all ease 0.50s;
}

.navbar a:hover {
    color: #0026ff;
}

p {
    color: black;
    font-size: 1.1rem;
    margin-top: 4px;
    line-height: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.06rem;
}

.section-title {
    margin-top: 10rex;
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.section-title span {
    color: #ff0033;
}

#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #000000 0%, #3b3b3b 100%);
    color: #fff;
}

#projects .project-info h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-info p {
    color: #fff;
}

#projects .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#projects .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#projects .project-img img {
    transition: 0.4s ease transform;
}

#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}

@media only screen and (min-width: 768px){
    #projects .project-item {
        flex-direction: row;
    }
    #projects .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }
    #projects .project-item {
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #projects .all-projects .project-info {
        height: 100%;
    }
    #projects .all-projects .project-img {
        height: 100%;
    }
}
